<title>PhytoChemDB |result</title>
<link rel="stylesheet" href="resultstyle.css">
<%- include("partials/header"); -%>


<!-- <section id="search">
  <div class="mainsearch">
    <h4 class="sr">Structure search</h4>
      <form action="/idresult" method="get">
        <div >
           <input type="search" class="form-control" name="smile" placeholder="enter the name here eg: O[C@H]1C[C@@H](OC(=O)C)[C@]23["> <br>
           <button class="big-button" type="submit">SEARCH</button>
         </div>
      </form>
    </div>
</section> -->

  <section id="res">
    <div class="resu">
      <h1> RESULT</h1>
      <!-- <pre><%= JSON.stringify(idnn, null, 2) %></pre> -->
      <table class="table table-striped table-bordered table-hover">
        <tbody>
          <% idnn.forEach(function(item){ %>
            <tr>
              <!-- <pre><%= JSON.stringify(idnn, null, 2) %></pre> -->
              <td>Smile</td>
              <td>
                <%= item['SMILES'] %>
              </td>
            </tr>
            <tr>
              <td>IUPAC Name</td>
              <td><%= item.IUPAC_name %></td>
            </tr>
            <tr>
              <td>PubChem CID</td>
              <td><%= item.PubChem_CID %></td>
            </tr>
            <tr>
              <td>Molecular Formula</td>
              <td>
                <%=item.Molecular_formula %>
              </td>
            </tr>
            <tr>
              <td>Molecular Name</td>
              <td>
                <%=item.Molecule_name %>
              </td>
            </tr>
            <tr>
              <td>Molecular Weight</td>
              <td>
                <%=item.Molecular_weight %>
              </td>
            </tr>
            <tr>
              <td>GI Absorption</td>
              <td>
                <%=item.GI_absorption %>
              </td>
            </tr>
            <tr>
              <td>BBB Permeant</td>
              <td>
                <%=item.BBB_permeant %>
              </td>
            </tr>
            <tr>
              <td>Lipinski</td>
              <td>
                <%=item.Lipinski %>
              </td>
            </tr>
            <tr>
              <td>Bioavailability Score</td>
              <td>
                <%=item.Bioavailability_Score %>
              </td>
            </tr>
            <tr>
            <tr>
              <td>Leadlikeness</td>
              <td>
                <%=item.Leadlikeness %>
              </td>
            </tr>
            <% }); %>
      </table>
      <% if (empty) { %>
        <p>No results found</p>
        <% } %>
    </div>
  </section>

  <%- include("partials/footer"); -%>
